In [51]:
import pandas as pd
from sklearn.cluster import KMeans

In [52]:
# Read the data from the CSV file
data = pd.read_csv("Mall_Customers.csv")

In [53]:
data

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [54]:
# Select the columns that will be used for clustering
X = data[["Age", "Annual Income (k$)", "Spending Score (1-100)"]]

In [55]:
# Specify the number of clusters (K)
kmeans = KMeans(n_clusters=3)

In [56]:
# Fit the model to the data
kmeans.fit(X)

KMeans(n_clusters=3)

In [57]:
# Get the cluster labels for each data point
data["Cluster"] = kmeans.labels_

In [58]:
from sklearn.metrics import silhouette_score


# Get the cluster labels for each data point
labels = kmeans.labels_

# Calculate the silhouette score
score = silhouette_score(X, labels)

print("Silhouette score: ", score)

Silhouette score:  0.3839349967742105