# Data Set name : Reg_kc_house_data.csv

dataset consist of 21 columns and 21613 entries 

the data set describe the house price based on the all parameters

# Algo
1] Import the necessary libraries (pandas, numpy, sklearn's Ridge and train_test_split)

2] Read in the data from the 'kc_house_data.csv' file using pandas' read_csv function and store it in a variable called 'data'

3] Assign the values of the 'price' column to the variable 'y' and drop the 'price' column from the dataframe and store it in 'X'

4] Use the train_test_split function to split the data into training and testing sets, with X_train, X_test, y_train, and y_test as 

5] the respective variables and a test size of 0.2

6] Create an instance of the Ridge model with an alpha value of 0.1 and store it in the variable 'model'

7] Fit the model to the training data using the fit() function

8] Use the predict() function to predict the values of y using the X_test data and store the result in y_pred.

In [2]:
# importing all libraries in python


import pandas as pd                               #for importing data and operation on it
import numpy as np                                  # for numerical operation
from sklearn.linear_model import Ridge             #   importing Ridge regression model
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('kc_house_data.csv')

In [4]:
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357

In [5]:
data = data.dropna()

In [6]:
data = data.drop_duplicates()

In [7]:
data = data.drop(['date'], axis=1)

In [7]:
X = data.drop('price',axis=1)
y = data['price']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
model = Ridge(alpha=0.1)

In [10]:
model.fit(X_train, y_train)

C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=6.97047e-25): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

Ridge(alpha=0.1)

In [11]:
y_pred = model.predict(X_test)

In [12]:
y_pred

array([863825.8393555 , 810026.64050069, 410619.85310584, ...,
       372081.67645563, 555901.37408964,  97086.083709  ])

In [13]:
 #cross validation

from sklearn.model_selection import cross_val_score

# Use 5-fold cross validation to evaluate the model
scores = cross_val_score(model, X, y, cv=5)

# Print the average and standard deviation of the scores
print('Scores:', scores)
print('Mean:', scores.mean())

Scores: [0.69578967 0.69111305 0.69283513 0.70796435 0.68558957]
Mean: 0.6946583526996768

C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=6.98461e-25): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=6.96609e-25): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=6.96783e-25): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=6.9901e-25): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T
C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=7.04437e-25): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

# Lasso

In [43]:
model = Lasso(alpha=0.1)

In [45]:
model.fit(X_train, y_train)

C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.282e+14, tolerance: 2.346e+11
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=0.1)

In [46]:
y_pred = model.predict(X_test)

In [47]:
y_pred

array([ 413910.58777744,  157535.44698238,  893251.33273298, ...,
         12582.04462549, 1139376.95991468,  785253.54389472])

In [48]:
#cross validation

from sklearn.model_selection import cross_val_score

# Use 5-fold cross validation to evaluate the model
scores = cross_val_score(model, X, y, cv=5)

# Print the average and standard deviation of the scores
print('Scores:', scores)
print('Mean:', scores.mean())

C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.093e+14, tolerance: 2.258e+11
  model = cd_fast.enet_coordinate_descent(
C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.106e+14, tolerance: 2.306e+11
  model = cd_fast.enet_coordinate_descent(
C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.261e+14, tolerance: 2.407e+11
  model = cd_fast.enet_coordinate_descent(
C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.262e+14, tolerance: 2.364e+11
  model = cd_fast.enet_coordinate_descent(

Scores: [0.69580415 0.69111004 0.69283186 0.70794701 0.68559494]
Mean: 0.6946575985490707

C:\Users\Swapnil Thomare\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.172e+14, tolerance: 2.315e+11
  model = cd_fast.enet_coordinate_descent(