In [1]:
import pymongo

In [3]:

client = pymongo.MongoClient("mongodb+srv://swapnil2001thomare:Swapnil2001@cluster0.cwrdyhy.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
     ------------------------------------ 382.5/382.5 kB 449.6 kB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ------------------------------------ 283.7/283.7 kB 920.7 kB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
db

Database(MongoClient(host=['ac-ohgh1sk-shard-00-01.cwrdyhy.mongodb.net:27017', 'ac-ohgh1sk-shard-00-02.cwrdyhy.mongodb.net:27017', 'ac-ohgh1sk-shard-00-00.cwrdyhy.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-pdefhh-shard-0', tls=True), 'test')

In [5]:
## storing data in cluster

In [6]:
db = client['appdata']

In [7]:
data = {
    "name": "swapnil",
    "class": "now",
    "time": "morning"
}

In [8]:
coll_skill = db["my_record"]

In [9]:
coll_skill.insert_one(data)

In [10]:
data2 = {
    "namebnj": "swapnil",
    "class@": "now54564541111",
    "time": "morning@gmai;"
}

In [11]:
coll_skill.insert_one(data2)

In [12]:
data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [13]:
coll_skill.insert_many(data3)

In [14]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [15]:
coll_skill.insert_one(data4)

In [16]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [17]:
coll_skill.insert_many(list_of_records)

In [18]:
coll_skill.find_one()

{'_id': ObjectId('6425acd0750ef44ff6026ac0'),
 'name': 'swapnil',
 'class': 'now',
 'time': 'morning'}

In [20]:
getdata = coll_skill.find()

In [21]:
for i in getdata:
    print(i)

{'_id': ObjectId('6425acd0750ef44ff6026ac0'), 'name': 'swapnil', 'class': 'now', 'time': 'morning'}
{'_id': ObjectId('6425ad4e750ef44ff6026ac1'), 'namebnj': 'swapnil', 'class@': 'now54564541111', 'time': 'morning@gmai;'}
{'_id': ObjectId('6425ae0a750ef44ff6026ac2'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6425ae0a750ef44ff6026ac3'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6425ae0a750ef44ff6026ac4'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6425ae0a750ef44ff6026ac5'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6425ae0a750ef44ff6026ac6'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6425ae0a750ef44ff6026ac7'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6425ae0a750ef44ff6026ac8'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6425ae0a750ef44ff6026ac9'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6425ae0a750ef44ff6026aca'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6425ae0a750ef44ff6026acb'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6425ae0a750ef44ff6026acc'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6425ae0a750ef44ff6026acd'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6425aecf750ef44ff6026ace'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('6425afec750ef44ff6026acf'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6425afec750ef44ff6026ad0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6425afec750ef44ff6026ad1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [27]:
for i in coll_skill.find({'name':'swapnil'}):
    print(i)

{'_id': ObjectId('6425acd0750ef44ff6026ac0'), 'name': 'swapnil', 'class': 'now', 'time': 'morning'}

In [26]:
for i in coll_skill.find({'companyName':'iNeuron'}):
    print(i)

{'_id': ObjectId('6425afec750ef44ff6026acf'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('6425afec750ef44ff6026ad0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('6425afec750ef44ff6026ad1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [28]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [ ]:
coll_skill.ins